---
import { getIndexById, getSlugFromId } from "@/utils";
import { META, STATS } from "@/consts";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const collection = await getCollection("interviews");
const interviews = collection.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">{META.title}</h1>
    <p class="mt-1 text-xl sm:text-2xl font-medium text-neutral-600">
      <!-- A collection of {
        new Intl.NumberFormat().format(interviews.length + 1000)
      }+ personal coffee brewing stations. -->
      {META.description}
    </p>
  </header>

  <section class="mt-12">
    <!-- <p class="font-mono text-neutral-600 text-sm">Join 14,000+ other readers</p> -->
    <h2 class="font-mono text-neutral-600 text-sm">
      Join the weekly newsletter
    </h2>
    <!-- <ul class="flex mt-2 *:not-first:-ml-1.5">
      <li>
        <Image
          src="/img/alex-carpenter.jpg"
          alt=""
          width={48}
          height={48}
          class="rounded-full size-8 outline-2 outline-white"
        />
      </li>
      <li>
        <Image
          src="/img/john-george-sample.jpg"
          alt=""
          width={48}
          height={48}
          class="rounded-full size-8 outline-2 outline-white"
        />
      </li>
      <li>
        <Image
          src="/img/fatih-arslan.jpg"
          alt=""
          width={48}
          height={48}
          class="rounded-full size-8 outline-2 outline-white"
        />
      </li>
      <li>
        <span
          class="size-8 bg-brand rounded-full flex justify-center items-center text-[0.625rem] uppercase font-mono outline-2 outline-white font-semibold"
          >{new Intl.NumberFormat("en-US").format(STATS.subscribers)}+</span
        >
      </li>
    </ul> -->
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/ibrewmyowncoffee"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/ibrewmyowncoffee', 'popupwindow')"
      class="flex gap-4 mt-2 flex-col sm:flex-row"
    >
      <label for="bd-email" class="sr-only">Email address</label>
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="you@example.com"
        required
        class="relative px-4 py-2 rounded-sm border border-neutral-300 sm:w-1/2 md:w-1/3 shadow-sm shadow-black/5"
      />
      <input
        type="submit"
        value="Subscribe for free"
        class="relative px-4 py-2 rounded-sm border border-neutral-950 bg-neutral-950 text-neutral-50 font-medium shadow-sm shadow-black/5"
      />
    </form>
  </section>

  <section class="mt-12">
    <h2 class="sr-only">Interviews</h2>
    <ul>
      {
        interviews.map((interview) => {
          const slug = getSlugFromId(interview.id);
          const issue = getIndexById(interviews, interview.id);
          const thumbnail = interview.data.gallery?.at(0);
          return (
            <li class="flex flex-col sm:flex-row gap-x-4 border-t border-dashed border-neutral-300 py-4 relative">
              <figure class="relative overflow-hidden aspect-video bg-neutral-100 sm:w-1/2 md:w-1/3 rounded-sm shrink-0">
                {thumbnail ? (
                  <Image
                    src={thumbnail?.src}
                    alt={thumbnail.alt}
                    width="400"
                    height="225"
                    style={`--object-position:${thumbnail.position || "center"}`}
                    class="absolute h-full w-full object-cover object-[var(--object-position)]"
                  />
                ) : null}
              </figure>
              <div class="flex flex-col pt-4 sm:pb-4">
                <p class="text-neutral-600 font-mono uppercase text-xs mb-auto">
                  // Issue {issue}
                </p>
                <p class="font-bold text-xl tracking-tight my-1">
                  <a
                    href={`/interviews/${slug}`}
                    class="underline decoration-brand hover:bg-brand"
                  >
                    {interview.data.title}
                  </a>
                </p>
                <p class="text-neutral-600 font-mono text-sm text-balance">
                  {interview.data.description}
                </p>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
