---
import { getSlugFromId, isProd } from "@/utils";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
const collection = await getCollection("interviews", ({ data }) => {
  return isProd ? data.draft !== true : true;
});
const interviews = collection.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
---

<Layout>
  <header class="bg-primary px-4 sm:px-8 pb-4 sm:pb-8 rounded-b-lg pt-48">
    <h1
      class="text-3xl sm:text-5xl tracking-tight text-balance text-primary-foreground"
    >
      I Brew My Own Coffee.
      <span class="text-secondary"
        >A collection of personal coffee brewing setups.</span
      >
    </h1>
  </header>
  <section class="mt-4">
    <div class="bg-secondary rounded-lg">
      <ul
        class="flex overflow-x-auto [mask-image:linear-gradient(to_right,transparent_0%,black_calc(var(--spacing)_*_8),black_calc(100%_-_calc(var(--spacing)_*_8)),_transparent_100%)] [scrollbar-width:none]"
      >
        <li class="flex flex-1">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center p-8 md:py-16 w-full rounded-l-lg"
          >
            <Icon name="fellow" class="h-7 w-auto translate-y-1" />
          </a>
        </li>
        <li class="flex flex-1">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center p-8 md:py-16 w-full"
          >
            <Icon name="lamarzocco" class="h-9 w-auto" />
          </a>
        </li>
        <li class="flex flex-1">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center p-8 md:py-16 w-full"
          >
            <Icon name="fellow" class="h-7 w-auto translate-y-1" />
          </a>
        </li>
        <li class="flex flex-1">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center p-8 md:py-16 w-full rounded-r-lg"
          >
            <Icon name="lamarzocco" class="h-9 w-auto" />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="mt-4">
    <ul
      class:list={[
        "grid gap-4",
        "grid-cols-1",
        "md:grid-cols-2",
        "lg:grid-cols-4",
      ]}
    >
      {
        interviews.map(({ id, data }) => {
          const { avatar, title, description, published, gallery } = data;
          const slug = getSlugFromId(id);
          const thumbnail = gallery?.at(0);
          return (
            <li
              class:list={[
                "flex flex-col group/list-item",
                "md:[&:nth-child(3n+1)]:col-span-2",
                "lg:[&:nth-child(3n+1)]:col-span-1",
                "lg:[&:nth-child(6n+1)]:col-span-2",
                "lg:[&:nth-child(6n)]:col-span-2",
              ]}
            >
              <article
                class:list={[
                  "group/card isolate relative rounded-lg flex-1 flex overflow-hidden bg-muted",
                  "group-[&:nth-child(2n+1)]/list-item:bg-accent",
                  "md:group-[&:nth-child(2n+1)]/list-item:bg-muted",
                  "md:group-[&:nth-child(3n+1)]/list-item:bg-accent",
                  "lg:group-[&:nth-child(3n+1)]/list-item:bg-muted",
                  "lg:group-[&:nth-child(6n+1)]/list-item:bg-accent",
                  "lg:group-[&:nth-child(6n)]/list-item:bg-accent",
                ]}
              >
                <div class="p-4 sm:p-8 flex-1 flex flex-col">
                  <header class="mb-24 sm:mb-56">
                    <div class="mb-4 size-9 relative overflow-hidden rounded-full">
                      <Image
                        src={avatar}
                        width={32}
                        height={32}
                        alt=""
                        class="absolute size-full"
                      />
                    </div>
                    <h3 class="font-semibold tracking-tight">
                      <a
                        href={`/interviews/${slug}`}
                        class="before:absolute before:inset-0 before:z-10"
                      >
                        {title}
                        <span class="absolute h-[1lh] inline-flex items-center pl-1 overflow-clip">
                          <Icon
                            name="arrow-right"
                            class="size-4 opacity-0 group-hover/card:opacity-70 motion-reduce:transition-none duration-250 -translate-x-6 group-hover/card:translate-x-0 transition ease-spring"
                          />
                        </span>
                      </a>
                    </h3>
                    <p class="line-clamp-2 text-sm opacity-70 text-balance">
                      {description}
                    </p>
                  </header>
                  <time class="opacity-70 text-sm mt-auto">
                    {published.toLocaleDateString("en-us", {
                      timeZone: "America/New_York",
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                </div>
                {thumbnail ? (
                  <div
                    class:list={[
                      "relative overflow-hidden w-1/2 hidden",
                      "group-[&:nth-child(2n+1)]/list-item:block",
                      "md:group-[&:nth-child(2n+1)]/list-item:hidden",
                      "md:group-[&:nth-child(3n+1)]/list-item:block",
                      "lg:group-[&:nth-child(3n+1)]/list-item:hidden",
                      "lg:group-[&:nth-child(6n+1)]/list-item:block",
                      "lg:group-[&:nth-child(6n)]/list-item:block",
                    ]}
                  >
                    <Image
                      src={thumbnail.src}
                      alt={thumbnail.alt}
                      width={1500}
                      height={1000}
                      class="absolute size-full object-cover group-hover/list-item:scale-105 transition-transform duration-250 ease-spring"
                    />
                  </div>
                ) : null}
              </article>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
