---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import roastersJSON from "./data.json";
import slugify from "@sindresorhus/slugify";
export async function getStaticPaths() {
  const states = [...new Set(roastersJSON.map((roaster) => roaster.state))];
  return states.map((state) => {
    const id = slugify(state);
    const roasters = roastersJSON.filter((r) => r.state === state);
    return {
      params: { id },
      props: {
        state,
        roasters,
      },
    };
  });
}
type Props = {
  state: string;
  roasters: any[];
};
const { state, roasters } = Astro.props;
const meta = {
  title: `${state} Coffee Roasters`,
  description: `Third wave coffee roasters located in ${state}.`,
} as const;
---

<Layout {...meta}>
  <header class="bg-primary px-4 sm:px-8 pb-4 sm:pb-8 rounded-b-lg pt-24">
    <h1
      class="text-3xl sm:text-5xl tracking-tight text-balance text-primary-foreground max-w-prose leading-[1.1]"
    >
      {state}.
      <span
        class="text-[color-mix(in_srgb,var(--color-primary-foreground),var(--color-primary)_50%)]"
        >Coffee Roasters.</span
      >
    </h1>
  </header>

  <section class="mt-4 relative bg-muted p-4 sm:p-8 rounded-lg">
    <div class="overflow-x-auto">
      <table
        class:list={[
          "text-sm w-full min-w-2xl",
          "[&_th]:px-1 [&_th]:pb-0.5",
          "[&_td]:px-1 [&_td]:py-0.5 [&_td]:align-top",
        ]}
      >
        <thead class="text-left font-semibold">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th align="right">Website</th>
          </tr>
        </thead>
        <tbody>
          {
            roasters.map((roaster, i) => (
              <tr class="border-t border-black/10 first:border-solid first:border-t-2">
                <td>{roaster.name}</td>
                <td>
                  {roaster.address ? (
                    <a
                      target="_blank"
                      rel="noopener"
                      href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(roaster.address)}`}
                      class="link"
                    >
                      {roaster.address}
                    </a>
                  ) : null}
                </td>
                <td align="right">
                  {roaster.website ? (
                    <span class="relative pr-4 group">
                      <a
                        target="_blank"
                        rel="noopener"
                        href={roaster.website}
                        class="link"
                      >
                        View
                      </a>
                      <Icon
                        class="absolute right-0 top-0.25 size-4 text-secondary"
                        name="arrow-up-right"
                      />
                    </span>
                  ) : null}
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>
</Layout>
