---
import Layout from "@/layouts/Layout.astro";
import roasters from "./roasters.json";
import slugify from "@sindresorhus/slugify";
const groupedRoasters = roasters.reduce<Record<string, typeof roasters>>(
  (acc, roaster) => {
    (acc[roaster.state] = acc[roaster.state] || []).push(roaster);
    return acc;
  },
  {}
);
const meta = {
  title: "Coffee Roasters",
  description: "Third wave coffee roasters.",
} as const;
---

<Layout {...meta}>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      {meta.title}&nbsp;&not;
    </h1>
    {
      meta.description ? (
        <p class="mt-1 text-xl sm:text-2xl font-medium text-muted-foreground max-w-3xl text-balance">
          {meta.description}
        </p>
      ) : null
    }
  </header>

  <section class="mt-8 relative">
    <div class="overflow-x-auto">
      <table
        class:list={[
          "text-sm w-full min-w-2xl",
          "[&_th]:px-1 [&_th]:pb-0.5",
          "[&_td]:px-1 [&_td]:py-0.5",
        ]}
      >
        <thead class="text-left font-medium">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th align="right">Website</th>
          </tr>
        </thead>
        <tbody>
          {
            Object.entries(groupedRoasters).map(([state, roasters]) => {
              return (
                <>
                  <tr class="bg-muted">
                    <td colspan="4" class="font-medium">
                      <a href={`/roasters/${slugify(state)}`}>{state}</a>
                    </td>
                  </tr>
                  {roasters.map((roaster, i) => (
                    <tr
                      class:list={[
                        {
                          "border-t border-dashed border-black/20": i > 0,
                        },
                      ]}
                    >
                      <td>{roaster.name}</td>
                      <td>
                        {roaster.address ? (
                          <a
                            target="_blank"
                            rel="noopener"
                            href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(roaster.address)}`}
                            class="link"
                          >
                            {roaster.address}
                          </a>
                        ) : null}
                      </td>
                      <td align="right">
                        {roaster.website ? (
                          <a
                            target="_blank"
                            rel="noopener"
                            href={roaster.website}
                            class="link"
                          >
                            View
                          </a>
                        ) : null}
                      </td>
                    </tr>
                  ))}
                </>
              );
            })
          }
        </tbody>
      </table>
    </div>
  </section>
</Layout>
