---
import Layout from "@/layouts/Layout.astro";
import { getSlugFromId, getIndexById, isProd } from "@/utils";
import {
  type CollectionEntry,
  getCollection,
  getEntry,
  render,
} from "astro:content";
import { Image } from "astro:assets";
export async function getStaticPaths() {
  const collection = await getCollection("interviews", ({ data }) => {
    return isProd ? data.draft !== true : true;
  });
  const interviews = collection.sort((a, b) => {
    const aDate = a.data.published;
    const bDate = b.data.published;
    return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
  });
  return interviews.map((interview, index) => {
    const id = getSlugFromId(interview.id);
    const issue = getIndexById(interviews, interview.id);
    const totalIssues = interviews.length;
    const previous =
      index < totalIssues - 1 ? interviews[index + 1] : undefined;
    const next = index > 0 ? interviews[index - 1] : undefined;
    return {
      params: { id },
      props: {
        issue,
        interview,
        previous,
        next,
      },
    };
  });
}
type Props = {
  issue: string;
  interview: CollectionEntry<"interviews">;
  previous: CollectionEntry<"interviews"> | undefined;
  next: CollectionEntry<"interviews"> | undefined;
};
const { issue, interview, previous, next } = Astro.props;
const { Content } = await render(interview);
const thumbnail = interview.data.gallery?.at(0);
---

<Layout
  title={interview.data.title}
  description={interview.data.description}
  image={interview.data.image}
>
  <header class="bg-primary px-4 sm:px-8 pb-4 sm:pb-8 rounded-b-lg pt-24">
    <div class="size-9 sm:size-18 relative overflow-hidden rounded-full mb-4">
      <Image
        src={interview.data.avatar}
        width={64}
        height={64}
        alt=""
        class="absolute size-full"
      />
    </div>
    <h1
      class="text-3xl sm:text-5xl tracking-tight text-balance text-primary-foreground max-w-prose leading-[1.1]"
    >
      {interview.data.title}.
      <span
        class="text-[color-mix(in_srgb,var(--color-primary-foreground),var(--color-primary)_50%)]"
        >{interview.data.description}</span
      >
    </h1>
  </header>
  <div class="mt-4 grid grid-cols-1 md:grid-cols-4 gap-x-4 bg-muted rounded-lg">
    <div class="md:col-span-2 p-4 sm:p-8">
      <div class="prose">
        <Content />
      </div>
      {
        interview.data.products ? (
          <>
            <h2 class="mt-8 flex items-center gap-x-4 font-semibold text-xl tracking-tight text-primary">
              Products referenced&nbsp;&not;
            </h2>
            <ul class="mt-4 space-y-4">
              {interview.data.products?.map(async ({ id }, i) => {
                const product = await getEntry("products", id);
                if (!product) {
                  return null;
                }
                return (
                  <li id={(i + 1).toString()}>
                    <span class="text-muted-foreground font-mono uppercase text-xs block">
                      {product.data.description}
                    </span>
                    <a
                      href={product.data.link}
                      target="_blank"
                      class="font-medium underline decoration-2 decoration-accent hover:bg-accent"
                    >
                      {product.data.title}
                    </a>
                  </li>
                );
              })}
            </ul>
          </>
        ) : null
      }
    </div>
    <div
      class="md:col-start-3 md:col-span-2 lg:col-start-4 lg:col-span-1 relative flex flex-col justify-end p-4 sm:p-8"
    >
      {
        thumbnail ? (
          <figure class="aspect-[3/2] rounded-lg overflow-hidden sticky bottom-8 group/thumbnail cursor-zoom-in">
            <Image
              src={thumbnail.src}
              alt={thumbnail.alt}
              width={1500}
              height={1000}
              class="absolute size-full object-cover group-hover/thumbnail:scale-105 transition-transform duration-250 ease-spring"
            />
          </figure>
        ) : null
      }
    </div>
  </div>

  <!-- <section class="p-8 bg-secondary rounded-lg mt-4"></section> -->
</Layout>
