---
import Footer from "@/components/footer.astro";
import "../styles/global.css";
import { META } from "@/consts";
import Navigation from "@/components/navigation.astro";
const { title, description, image } = Astro.props;
const metaTitle = title ? `${title} - ${META.title}` : META.title;
const metaDescription = description ? description : META.description;
const metaImage = image ? image : META.image;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <link
      rel="preload"
      href="/fonts/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={new URL(Astro.url)} />
    <meta property="og:site_name" content={META.title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image" content={new URL(metaImage, Astro.url)} />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={new URL(metaImage, Astro.url)} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={metaTitle}
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body
    class="antialiased flex flex-col min-h-full text-foreground bg-background overflow-x-hidden px-4 pt-4"
  >
    <a
      href="#main"
      class="absolute not-focus-visible:-translate-y-full top-0 focus-visible:top-12 left-0 focus-visible:left-12 bg-accent text-primary text-sm font-medium px-4 h-9 flex items-center justify-center rounded-sm"
      >Skip to main content</a
    >
    <Navigation />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <slot name="dialog" />
  </body>
</html>
