---
import "../styles/global.css";
import { META } from "@/consts";
const { title, description } = Astro.props;
const metaTitle = title ? `${title} - ${META.title}` : META.title;
const metaDescription = description ? description : META.description;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <link
      rel="preload"
      href="/fonts/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
  </head>
  <body class="antialiased flex flex-col h-full text-neutral-950">
    <header class="p-4 flex justify-between gap-x-4 w-full max-w-5xl mx-auto">
      <nav class="bg-neutral-100 max-w-max px-4 py-2 rounded-sm">
        <ul class="flex gap-x-4 font-medium">
          <li><a href="/" class="font-medium">Home</a></li>
          <li><a href="/about" class="font-medium">About</a></li>
          <li><a href="/sponsorship" class="font-medium">Sponsor</a></li>
        </ul>
      </nav>
      <a
        href="/submit"
        class:list={["relative px-4 py-2 rounded-sm bg-brand font-medium"]}
        >Submit<span class="max-sm:hidden"> a setup</span></a
      >
    </header>
    <main
      class="flex-1 flex flex-col w-full max-w-5xl mx-auto px-4 pb-8 sm:pb-16"
    >
      <slot />
    </main>
    <footer class="pt-8 bg-neutral-950 text-neutral-500">
      <div class="w-full max-w-5xl mx-auto px-4">
        <ul class="flex gap-x-4 font-medium">
          <li><a href="/" class="font-medium">Home</a></li>
          <li><a href="/about" class="font-medium">About</a></li>
          <li><a href="/sponsorship" class="font-medium">Sponsor</a></li>
          <li><a href="/submit" class="font-medium">Submit a setup</a></li>
        </ul>

        <p class="mt-4">&copy; {new Date().getFullYear()} Alex Carpenter</p>
      </div>

      <div class="w-full max-w-5xl mx-auto mt-8 px-4">
        <svg aria-hidden="true" viewBox="0 0 1001 67" fill="none"
          ><g clip-path="url(#a)"
            ><path
              d="M21.697 4.273V77H6.321V4.273h15.376ZM49.493 77V4.273h29.12c5.35 0 9.812.793 13.387 2.379 3.575 1.586 6.262 3.788 8.061 6.605 1.799 2.794 2.699 6.013 2.699 9.66 0 2.84-.568 5.338-1.705 7.492a14.707 14.707 0 0 1-4.687 5.256c-1.965 1.35-4.214 2.308-6.747 2.876v.71c2.77.119 5.362.9 7.777 2.344 2.438 1.444 4.415 3.468 5.93 6.073 1.515 2.58 2.273 5.658 2.273 9.233 0 3.858-.959 7.303-2.877 10.333-1.894 3.007-4.699 5.386-8.416 7.138C90.591 76.124 86.01 77 80.565 77H49.493Zm15.376-12.571h12.536c4.285 0 7.41-.817 9.375-2.45 1.965-1.657 2.947-3.86 2.947-6.605 0-2.013-.485-3.788-1.456-5.327-.97-1.539-2.355-2.746-4.154-3.622-1.776-.876-3.895-1.314-6.357-1.314H64.87v19.318Zm0-29.723h11.4c2.106 0 3.977-.367 5.61-1.1 1.657-.759 2.96-1.824 3.906-3.197.971-1.373 1.457-3.018 1.457-4.936 0-2.628-.936-4.747-2.806-6.357-1.847-1.61-4.474-2.414-7.883-2.414H64.869v18.004ZM111.322 77V22.454h14.666v9.518h.568c.995-3.386 2.664-5.943 5.008-7.67 2.343-1.753 5.042-2.629 8.096-2.629.758 0 1.574.048 2.45.142.876.095 1.646.225 2.309.391v13.423c-.711-.213-1.693-.402-2.948-.568a26.472 26.472 0 0 0-3.444-.248c-2.226 0-4.214.485-5.966 1.456a10.723 10.723 0 0 0-4.12 3.977c-.994 1.704-1.491 3.67-1.491 5.895V77h-15.128Zm59.237 1.065c-5.611 0-10.44-1.136-14.489-3.409-4.024-2.296-7.126-5.54-9.304-9.73-2.178-4.214-3.267-9.197-3.267-14.95 0-5.61 1.089-10.535 3.267-14.773 2.178-4.238 5.244-7.54 9.198-9.908 3.977-2.367 8.641-3.55 13.991-3.55 3.599 0 6.949.58 10.05 1.74 3.125 1.136 5.848 2.852 8.168 5.149 2.343 2.296 4.166 5.184 5.468 8.664 1.302 3.457 1.953 7.505 1.953 12.145v4.155h-46.058v-9.375h31.818c0-2.178-.473-4.108-1.42-5.788a10.175 10.175 0 0 0-3.942-3.942c-1.657-.97-3.586-1.456-5.788-1.456-2.297 0-4.333.533-6.108 1.598a11.2 11.2 0 0 0-4.119 4.226c-.995 1.752-1.504 3.705-1.527 5.86v8.913c0 2.698.497 5.03 1.491 6.995 1.018 1.965 2.45 3.48 4.297 4.546 1.847 1.065 4.036 1.598 6.57 1.598 1.68 0 3.219-.237 4.616-.71 1.397-.474 2.592-1.184 3.587-2.131.994-.947 1.752-2.107 2.272-3.48l13.992.923c-.71 3.362-2.166 6.297-4.368 8.807-2.178 2.486-4.995 4.427-8.452 5.824-3.433 1.373-7.398 2.06-11.896 2.06ZM211.836 77l-14.844-54.546h15.306l8.451 36.648h.497l8.807-36.648h15.022l8.948 36.435h.462l8.31-36.435h15.27L263.256 77h-16.015l-9.375-34.304h-.675L227.816 77h-15.98Zm89.727-72.727h18.963l20.029 48.863h.852l20.028-48.863h18.963V77h-14.914V29.663h-.604l-18.821 46.982h-10.156l-18.821-47.16h-.604V77h-14.915V4.273Zm96.56 93.181c-1.918 0-3.717-.153-5.398-.461-1.657-.284-3.031-.651-4.12-1.101l3.41-11.293c1.775.545 3.373.84 4.794.888 1.444.048 2.687-.284 3.728-.994 1.066-.71 1.93-1.918 2.593-3.622l.887-2.308-19.566-56.109h15.909l11.292 40.057h.569l11.399-40.056h16.015l-21.2 60.44c-1.018 2.936-2.403 5.492-4.155 7.67-1.728 2.202-3.918 3.895-6.569 5.079-2.652 1.207-5.848 1.81-9.588 1.81Zm131.515-56.818c0 7.931-1.504 14.678-4.51 20.242-2.983 5.563-7.055 9.813-12.216 12.748-5.137 2.912-10.914 4.368-17.33 4.368-6.463 0-12.263-1.468-17.4-4.403-5.137-2.936-9.198-7.185-12.181-12.749-2.983-5.563-4.474-12.298-4.474-20.206 0-7.93 1.491-14.678 4.474-20.241 2.983-5.564 7.044-9.801 12.181-12.713 5.137-2.936 10.937-4.404 17.4-4.404 6.416 0 12.193 1.468 17.33 4.404 5.161 2.912 9.233 7.15 12.216 12.713 3.006 5.563 4.51 12.31 4.51 20.241Zm-15.59 0c0-5.137-.769-9.47-2.308-12.997-1.515-3.527-3.658-6.202-6.428-8.025-2.769-1.823-6.013-2.735-9.73-2.735-3.716 0-6.96.912-9.73 2.735-2.77 1.823-4.924 4.498-6.463 8.025-1.515 3.528-2.273 7.86-2.273 12.997 0 5.138.758 9.47 2.273 12.997 1.539 3.528 3.693 6.203 6.463 8.026 2.77 1.823 6.014 2.735 9.73 2.735 3.717 0 6.961-.912 9.73-2.735 2.77-1.823 4.913-4.498 6.428-8.026 1.539-3.527 2.308-7.86 2.308-12.997ZM547.504 77 532.66 22.454h15.306l8.451 36.648h.497l8.807-36.648h15.022l8.948 36.435h.462l8.31-36.435h15.27L598.924 77h-16.015l-9.375-34.304h-.675L563.484 77h-15.98Zm85.426-31.534V77h-15.127V22.454h14.417v9.624h.639c1.208-3.172 3.232-5.682 6.073-7.528 2.841-1.87 6.285-2.806 10.334-2.806 3.788 0 7.09.829 9.907 2.486 2.818 1.657 5.007 4.025 6.57 7.102 1.562 3.054 2.344 6.7 2.344 10.938V77h-15.128V44.969c.023-3.338-.829-5.943-2.557-7.813-1.728-1.894-4.107-2.84-7.138-2.84-2.036 0-3.835.437-5.398 1.313-1.538.876-2.746 2.155-3.622 3.836-.852 1.657-1.29 3.657-1.314 6Zm126.677-15.732h-15.554c-.284-2.012-.864-3.8-1.74-5.362a13.64 13.64 0 0 0-3.373-4.048c-1.373-1.113-2.96-1.965-4.759-2.557-1.775-.592-3.705-.888-5.788-.888-3.764 0-7.043.935-9.837 2.806-2.793 1.846-4.96 4.545-6.498 8.096-1.539 3.528-2.309 7.813-2.309 12.855 0 5.185.77 9.541 2.309 13.069 1.562 3.527 3.74 6.19 6.534 7.99 2.793 1.799 6.025 2.699 9.694 2.699 2.06 0 3.966-.273 5.718-.817 1.775-.545 3.349-1.338 4.723-2.38a13.717 13.717 0 0 0 3.409-3.87c.923-1.515 1.562-3.244 1.917-5.185l15.554.071c-.402 3.338-1.408 6.558-3.018 9.66-1.586 3.077-3.729 5.835-6.428 8.273-2.675 2.415-5.871 4.333-9.588 5.753-3.693 1.397-7.872 2.095-12.535 2.095-6.487 0-12.287-1.468-17.401-4.403-5.09-2.936-9.115-7.185-12.074-12.749-2.935-5.563-4.403-12.298-4.403-20.206 0-7.93 1.491-14.678 4.474-20.241 2.983-5.564 7.031-9.801 12.145-12.713 5.114-2.936 10.867-4.404 17.259-4.404 4.214 0 8.12.592 11.718 1.776 3.623 1.184 6.83 2.912 9.624 5.185 2.794 2.249 5.066 5.007 6.818 8.274 1.776 3.267 2.912 7.007 3.409 11.221Zm31.387 48.331c-5.516 0-10.286-1.171-14.311-3.515-4.001-2.368-7.09-5.658-9.268-9.872-2.178-4.238-3.267-9.15-3.267-14.738 0-5.634 1.089-10.558 3.267-14.772 2.178-4.238 5.267-7.529 9.268-9.872 4.025-2.368 8.795-3.552 14.311-3.552s10.275 1.184 14.276 3.552c4.025 2.343 7.126 5.634 9.304 9.872 2.178 4.214 3.267 9.138 3.267 14.772 0 5.588-1.089 10.5-3.267 14.738-2.178 4.214-5.279 7.504-9.304 9.872-4.001 2.344-8.76 3.515-14.276 3.515Zm.071-11.718c2.51 0 4.605-.71 6.286-2.131 1.681-1.444 2.947-3.41 3.8-5.895.876-2.486 1.313-5.315 1.313-8.487 0-3.173-.437-6.002-1.313-8.487-.853-2.486-2.119-4.451-3.8-5.895-1.681-1.444-3.776-2.166-6.286-2.166-2.533 0-4.663.722-6.392 2.166-1.704 1.444-2.994 3.409-3.87 5.895-.853 2.485-1.279 5.314-1.279 8.487 0 3.172.426 6.001 1.279 8.487.876 2.486 2.166 4.45 3.87 5.895 1.729 1.42 3.859 2.13 6.392 2.13Zm61.945-43.892v11.363h-33.665V22.455h33.665ZM827.051 77V18.513c0-3.954.77-7.233 2.308-9.837 1.563-2.604 3.694-4.557 6.392-5.86 2.699-1.301 5.765-1.952 9.198-1.952 2.32 0 4.439.177 6.356.532 1.942.355 3.386.675 4.333.96l-2.699 11.363a18.913 18.913 0 0 0-2.202-.533 13.735 13.735 0 0 0-2.628-.248c-2.225 0-3.776.52-4.652 1.562-.876 1.018-1.314 2.45-1.314 4.297V77h-15.092Zm60.533-54.546v11.364h-33.665V22.455h33.665ZM861.625 77V18.513c0-3.954.77-7.233 2.309-9.837 1.562-2.604 3.693-4.557 6.392-5.86 2.699-1.301 5.764-1.952 9.197-1.952 2.32 0 4.439.177 6.357.532 1.941.355 3.385.675 4.332.96l-2.699 11.363a18.913 18.913 0 0 0-2.202-.533 13.733 13.733 0 0 0-2.627-.248c-2.226 0-3.776.52-4.652 1.562-.876 1.018-1.314 2.45-1.314 4.297V77h-15.093Zm54.106 1.065c-5.611 0-10.441-1.136-14.489-3.409-4.024-2.296-7.126-5.54-9.304-9.73-2.178-4.214-3.267-9.197-3.267-14.95 0-5.61 1.089-10.535 3.267-14.773 2.178-4.238 5.244-7.54 9.198-9.908 3.977-2.367 8.641-3.55 13.991-3.55 3.599 0 6.949.58 10.05 1.74 3.125 1.136 5.847 2.852 8.167 5.149 2.344 2.296 4.167 5.184 5.469 8.664 1.302 3.457 1.953 7.505 1.953 12.145v4.155h-46.058v-9.375h31.818c0-2.178-.473-4.108-1.42-5.788a10.175 10.175 0 0 0-3.942-3.942c-1.657-.97-3.587-1.456-5.788-1.456-2.297 0-4.333.533-6.108 1.598a11.21 11.21 0 0 0-4.12 4.226c-.994 1.752-1.503 3.705-1.527 5.86v8.913c0 2.698.498 5.03 1.492 6.995 1.018 1.965 2.45 3.48 4.297 4.546 1.846 1.065 4.036 1.598 6.569 1.598 1.681 0 3.22-.237 4.617-.71 1.397-.474 2.592-1.184 3.587-2.131.994-.947 1.751-2.107 2.272-3.48l13.992.923c-.71 3.362-2.166 6.297-4.368 8.807-2.178 2.486-4.995 4.427-8.452 5.824-3.433 1.373-7.398 2.06-11.896 2.06Zm55.765 0c-5.61 0-10.44-1.136-14.488-3.409-4.025-2.296-7.126-5.54-9.304-9.73-2.178-4.214-3.267-9.197-3.267-14.95 0-5.61 1.089-10.535 3.267-14.773 2.178-4.238 5.244-7.54 9.197-9.908 3.978-2.367 8.641-3.55 13.992-3.55 3.598 0 6.948.58 10.049 1.74 3.125 1.136 5.848 2.852 8.168 5.149 2.344 2.296 4.167 5.184 5.469 8.664 1.302 3.457 1.953 7.505 1.953 12.145v4.155h-46.058v-9.375h31.818c0-2.178-.474-4.108-1.421-5.788a10.172 10.172 0 0 0-3.941-3.942c-1.658-.97-3.587-1.456-5.789-1.456-2.296 0-4.332.533-6.108 1.598a11.2 11.2 0 0 0-4.119 4.226c-.994 1.752-1.503 3.705-1.527 5.86v8.913c0 2.698.497 5.03 1.492 6.995 1.018 1.965 2.45 3.48 4.296 4.546 1.847 1.065 4.037 1.598 6.57 1.598 1.681 0 3.22-.237 4.617-.71 1.396-.474 2.592-1.184 3.586-2.131.994-.947 1.752-2.107 2.273-3.48l13.991.923c-.71 3.362-2.166 6.297-4.368 8.807-2.178 2.486-4.995 4.427-8.451 5.824-3.433 1.373-7.398 2.06-11.897 2.06Z"
              fill="#DFFF1F"></path></g
          ><defs
            ><clipPath id="a"
              ><path fill="#fff" d="M0 0h1001v67H0z"></path></clipPath
            ></defs
          ></svg
        >
      </div>
    </footer>
  </body>
</html>
